@{
    ViewData["Title"]="Contact Pape";
}
      <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Contact Us</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-central">
            <div class="semiboxshadow text-center">
                <img src="img/img-theme/shp.png" class="img-responsive" alt="">
            </div>
            <div id="map" class="honmob"> </div>
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <aside>
                                    <h4>The Office</h4>
                                    <address>
                                        <strong>SurfsideMedia Home Services.</strong><br>
                                        <i class="fa fa-map-marker"></i><strong>Address: </strong>Faridabad, Haryana,
                                        India<br>
                                        <i class="fa fa-phone"></i><strong>Phone: </strong> +91-1234567890
                                    </address>
                                    <address>
                                        <strong>SurfsideMedia Emails</strong><br>
                                        <i class="fa fa-envelope"></i><strong>Email:</strong><a
                                            href="mailto:contact@surfsidemedia.in"> contact@surfsidemedia.in</a><br>
                                        <i class="fa fa-envelope"></i><strong>Email:</strong><a
                                            href="mailto:support@surfsidemedia.in"> support@surfsidemedia.in</a>
                                    </address>
                                </aside>
                                <hr class="tall">
                            </div>
                            <div class="col-md-8">
                                <h3>Contact Form</h3>
                                <div class="alert" id="smg"></div>
                                <p class="lead">
                                </p>
                                <form id="contactform" class="form-theme" onsubmit="return false" method="post">
                                    <input type="text" placeholder="Name" name="name" id="name" required="">
                                    <input type="email" placeholder="Email" name="email" id="email" required="">
                                    <input type="text" placeholder="Phone" name="phone" id="phone" required="">
                                    <textarea placeholder="Your Message" name="message" id="message" required=""></textarea>
                                    <input type="submit" name="Submit" value="Send Message" class="btn btn-primary">
                                </form>
                                <div id="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-twitter content_resalt border-top">
                <i class="fa fa-twitter icon-big"></i>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
    $(document).ready(function(){
        $('#contactform').on('submit',function(){

            var setObj = {
                'name':$('#name').val(), 'email':$('#email').val(),
                'phone':$('#phone').val(),'message':$('#message').val()
            };

            $.ajax({
                url:'@Url.Action("SendMessage","Contact")',
                type:'post',
                dataType:'json',
                data:{obj : setObj},
                success:function(data)
                {
                    if(data==1)
                    {
                        $('#smg').addClass('alert-success');
                        $('#smg').text('your message has been sent to us. Thanks...!');
                        setTimeout(function(){
                            $('#smg').removeClass('alert-success');
                            $('#smg').text('');
                        },5000);
                    }
                    else
                    {
                        $('#smg').addClass('alert-danger');
                        $('#smg').text('your email has already.');
                        setTimeout(function(){
                            $('#smg').removeClass('alert-danger');
                            $('#smg').text('');
                        },5000);
                    }
                    
                }
            })
        })
    })
</script>