@{

}
   <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Registeration</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.php.html">Home</a></li>
                            <li>/</li>
                            <li>Registeration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="semiboxshadow text-center"></div>
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 profile1" style="padding-bottom:40px;">
                            <div class="thinborder-ontop">
                                <h3>User Info</h3>
                                <form id="EditServiceProvider" onsubmit="return false">  
                                    <div class="form-group row">
                                        <label for="upload-file" class="col-md-4 col-form-label text-md-right">Name</label>
                                        <div class="col-md-6">
                                            <input type="file" class="form-control" id="upload-file" name="upload-file" value="" autofocus="">
                                            <div class="pro-img">
                                                <img src="~/serviceprovider/profile-image.png" id="view-img" width="100%" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-md-4 col-form-label text-md-right">About</label>
                                        <div class="col-md-6">
                                            <textarea name="about" id="about" class="form-control" required="" autofocus=""></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="city" class="col-md-4 col-form-label text-md-right">City</label>
                                        <div class="col-md-6">
                                            <input id="city" type="text" class="form-control" name="city" value="" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="userType"
                                            class="col-md-4 col-form-label text-md-right">Service Category</label>
                                        <div class="col-md-6">
                                            <select name="cateId" id="cateId" class="form-control">
                                                <option value="0" disabled selected>--Select Service Category--</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="form-group row">
                                        <label for="city" class="col-md-4 col-form-label text-md-right">Service Location</label>
                                        <div class="col-md-6">
                                            <input id="service-location" type="text" class="form-control" name="service-location" value="" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="col-md-10">
                                            <button type="submit" class="btn btn-primary pull-right update">update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="section-twitter">
                <i class="fa fa-twitter icon-big"></i>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>             
        </section>

<script>
    $(document).ready(function(){
       // alert('ok');
        var img,imgs,userid=0;
        function ReadImage(input)
        {
            if(input.files && input.files[0])
            {
                var reader = new FileReader();
                reader.onload = function(e)
                {
                    img = e.target.result;
                    $('#view-img').attr('src',img);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#upload-file').change(function(){
            ReadImage(this);
        })
        fetchCategories();
        function fetchCategories()
        {
            $.ajax({
                url:'@Url.Action("getServiceCategories","ServiceProvider")',
                type:'get',
                dataType:'json',
                success:function(data)
                {
                    //console.log(data);
                    for(var i=0;i<data.length;i++)
                    {
                        $('#cateId').append(new Option(data[i].name,data[i].id));
                    }
                }
            })
        }

        $('#EditServiceProvider').on('submit',function(){
            if(img!=null) imgs = img.split(",");
            else
            {
                img = $('#view-img').attr('src');
                imgs = img.split(",");
            }
            var setObj = {
                'imgType':imgs[0], 'img':imgs[1],'about':$('#about').val(),
                'city':$('#city').val() ,'cateId':$('#cateId').val(), 'location':$('#service-location').val(),
                'serId':userid
            }
            $.ajax({
                url:'@Url.Action("EdtitServiceProvider","ServiceProvider")',
                type:'post',
                dataType:'json',
                data:{GetObj : setObj},
                success:function(data)
                {
                    window.location.replace('@Url.Action("ServiceProviderProfile","ServiceProvider")')
                    img = null;
                }
            })
        })
        getRow();
        function getRow()
        {
            $.ajax({
                url:'@Url.Action("GetProvider","ServiceProvider")',
                type:'post',
                dataType:'json',
                success:function(data)
                {
                    console.log(data);
                    $('#view-img').attr('src',data.img);
                    $('#about').val(data.about);
                    $('#cateId').val(data.cateId);
                    $('#service-location').val(data.location);
                    $('#city').val(data.city);
                    userid = data.serId;
                }
            })
        }
    });
</script>