@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"]="Profile-page";
}
        <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Profile</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.php.html">Home</a></li>
                            <li>/</li>
                            <li>Profile</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="row portfolioContainer">
                            <div class="col-md-8 col-md-offset-2 profile1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Profile @ViewBag.msg
                                            </div>
                                            <div class="col-md-6" style="display: flex;justify-content: end;align-items: center;">
                                                <div class="alert"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="~/serviceprovider/profile-image.png" id="view_img" width="100%" alt="">
                                            </div>
                                            <div class="col-md-8">
                                                <h3>Name : @HttpContextAccessor.HttpContext.Session.GetString("name")</h3>
                                                <p id="about"></p>
                                                <p id="email"><b>Email</b> : @HttpContextAccessor.HttpContext.Session.GetString("email")</p>
                                                <p id="phone"><b>Phone</b> : @HttpContextAccessor.HttpContext.Session.GetString("phone");</p>
                                                <p ><b>Service Category</b> : <span id="catename"></span></p>
                                                <p ><b>Service Location</b> : <span id="location"></span></p>
                                            </div>
                                            <div class="form-group row mb-0">
                                                <div class="col-md-10">
                                                    <a asp-action="EditService" class="btn btn-primary pull-right update" asp-controller="ServiceProvider">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<script>
    $(document).ready(function(){
        $.ajax({
            url:'@Url.Action("GetProvider","ServiceProvider")',
            type:'post',
            dataType:'json',
            success:function(data)
            {
                //console.log(data);
                $('#view_img').attr('src',data.img);
                $('#about').text(data.about);
                $('#catename').text(data.cateName);
                $('#location').text(data.location);
            }
        });
    });
</script>