@{
    ViewData["Title"]="Add-Service-page";
}
        <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Admin Service Categories</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.php.html">Home</a></li>
                            <li>/</li>
                            <li>Admin Service Categories</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="row portfolioContainer">
                            <div class="col-md-8 col-md-offset-2 profile1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Add New Service Carpentry
                                            </div>
                                            <div class="col-md-6" style="display: flex;justify-content: end;align-items: center;">
                                                <a asp-controller="AdminManage" asp-action="ViewService" class="btn btn-primary">All Categories</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <form action="" class="form-horizontal" id="AddServiceCategroy" onsubmit="return false">
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label for="name" class="form-control-label">Carpentry Name :</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="name">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label for="name" class="form-control-label">Carpentry Slug :</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="slug">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-3">
                                                    <label for="name" class="form-control-label">Carpentry image :</label>
                                                </div>
                                                <div class="col-sm-9">
                                                    <input type="file" class="form-control" id="img_upload">
                                                    <img src="" id="view-img" alt="" width="70px">
                                                </div>
                                                
                                            </div>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<script>
    $(document).ready(function(){
        var img;
        function Readimage(input)
        {
            if(input.files && input.files[0])
            {
                var reader = new FileReader();
                reader.onload = function(e)
                {
                    img = e.target.result;
                    $('#view-img').attr('src',img);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#img_upload').change(function(){
            Readimage(this);
        })

        $('#AddServiceCategroy').on('submit',function(){
            var imgs;
            if(img!=null) imgs = img.split(",");
            var obj = {
                'name':$('#name').val(),
                'slug':$('#slug').val(),
                'imgType':imgs[0],
                'img':imgs[1]
            }
            $.ajax({
                url:'@Url.Action("AddNewServiceCategory","AdminManage")',
                type:'POST',
                dataType:'JSON',
                data:{setData : obj},
                success:function(data)
                {
                    if(data==1) swal('Save','Data has been save successfylly.','success');
                    else swal('Warning','Sorry..!,Something is wrong.please check and try again.','warning');
                }
            })
        })
        
    })
</script>