@{
    ViewData["Title"]="All-Service";
}

<style>
    .fa-times{
        color: red;
        font-size: 20px;
    }
    .fa-edit{
        color: blue;
        font-size: 20px;
    }
</style>

       <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>All Service </h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.php.html">Home</a></li>
                            <li>/</li>
                            <li>All Service</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">All Service Category</div>
                                    <div class="col-md-6" style="display: flex;justify-content: end;align-items: center;">
                                        <a data-toggle="modal" data-target="#modal_serive" class="btn btn-primary">Add Categories</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped" id="tbl_Service" >
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                            <th>Categories</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="modal_serive">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Add New Service
                        <a href="#" class="close" data-dismiss="modal">x</a>
                    </div>
                    <div class="modal-body">
                        <form id="form-add-service" onsubmit="return false">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Name</label>
                                        <input type="text" class="form-control" id="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Slug</label>
                                        <input type="text" class="form-control" id="slug" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Tageline</label>
                                        <input type="text" class="form-control" id="tageline" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Category</label>
                                        <select name="category" id="category" class="form-control" required>
                                            <option value="" disabled selected>--Select Service Category--</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Price</label>
                                        <input type="text" class="form-control" id="price" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Discount</label>
                                        <input type="text" class="form-control" id="discount" required>
                                    </div>
                                     <div class="form-group">
                                        <label for="" class="form-control-label">Discount Type</label>
                                        <select name="disType" id="disType" class="form-control">
                                            <option value="" disabled selected>--select type of discount--</option>
                                            <option value="fixed">Fixed</option>
                                            <option value="percent">Percent</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Description </label>
                                        <textarea name="description" id="description" rows="3" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Inclusion </label>
                                        <textarea name="inclusion" id="inclusion" rows="3" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Exclusion </label>
                                        <textarea name="exclusion" id="exclusion" rows="3" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Image</label>
                                        <input type="file" class="form-control" id="img-upload" required>
                                        <img src="" alt="" id="view-img" width="70px" class="my-3">
                                    </div>
                                    
                                </div>
                            </div>
                            
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-sm btn-danger btnClear">Clear</button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateService">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Update Service
                        <a href="#" class="close" data-dismiss="modal">x</a>
                    </div>
                    <div class="modal-body">
                        <form id="form-update-service" onsubmit="return false">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Name</label>
                                        <input type="text" class="form-control" id="uname" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Slug</label>
                                        <input type="text" class="form-control" id="uslug" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Tageline</label>
                                        <input type="text" class="form-control" id="utageline" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Category</label>
                                        <select name="category" id="ucategory" class="form-control" required>
                                            <option value="" disabled selected>--Select Service Category--</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Price</label>
                                        <input type="text" class="form-control" id="uprice" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Discount</label>
                                        <input type="text" class="form-control" id="udiscount" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Discount Type</label>
                                        <select name="disType" id="udisType" class="form-control">
                                            <option value="" disabled selected>--select type of discount--</option>
                                            <option value="fixed">Fixed</option>
                                            <option value="percent">Percent</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Description </label>
                                        <textarea name="description" id="udescription" rows="3" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Inclusion </label>
                                        <textarea name="inclusion" id="uinclusion" rows="3" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Exclusion </label>
                                        <textarea name="exclusion" id="uexclusion" rows="3" class="form-control" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" name="switch" id="switch" class="custom-control-input">
                                            <label for="switch" class="custom-control-label"> Active</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Image</label>
                                        <input type="file" class="form-control" id="uimg-upload">
                                        <img src="" alt="" id="uview-img" width="70px" class="my-3">
                                    </div>
                                    
                                </div>
                            </div>
                            
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-sm btn-danger btnClear" >Clear</button>
                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                                
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>

<script>
    $(document).ready(function(){
        //Categorise
        Categories('#category');
        Categories('#ucategory');
        function Categories(txtId)
        {
            $.ajax({
                url:'@Url.Action("Categories","AdminManage")',
                type:'get',
                dataType:'json',
                success:function(data)
                {
                    //console.log(data);
                    for(var i=0;i<data.length;i++)
                    {
                        $(txtId).append(new Option(data[i].name,data[i].id));
                    }
                }
            })
        }
        ///read img
        var img,imgs;
        
        function ReadImage(input,viewImg)
        {
            if(input.files && input.files[0])
            {
                var reader = new FileReader();
                reader.onload = function(e)
                {
                    imgs = e.target.result;
                    $(viewImg).attr('src',imgs);
                }
                reader.readAsDataURL(input.files[0]);
            }
            
        }
        $('#img-upload').change(function(){
            ReadImage(this,'#view-img');
        })
        $('#uimg-upload').change(function(){
            ReadImage(this,'#uview-img');
        })
        //add new service
        $('#form-add-service').on('submit',function(){
            if(imgs!=null) img = imgs.split(",");
            var setObj = {
                'name':$('#name').val(),            'slug':$('#slug').val(),
                'tageline':$('#tageline').val(),    'category':$('#category').val(),
                'price':$('#price').val(),          'description':$('#description').val(),
                'inclusion':$('#inclusion').val(),  'exclusion':$('#exclusion').val(),
                'imgType':img[0],                     'img':img[1],'discount':$('#discount').val(),
                'dis_Type':$('#disType').val()
            };

            $.ajax({
                url:'@Url.Action("AddService","AdminManage")',
                type:'post',
                dataType:'json',
                data:{getObj : setObj},
                success:function(data)
                {
                    if(data==1)
                    {
                        //saved
                        swal('Successed','Your data has been saved.','success');
                        getSelectRow();
                    }
                    else
                    {
                        //error
                        swal('error','Something is wrong.','error');
                    }
                    
                }
            }) 
        })
        
        //function clear
        $('.btnClear').click(function(){
            $('.form-control').val('');
            $('#view-img').attr('src','');
        })
        var dataTable,listObjOfservice=[];
        dataTable = $('#tbl_Service').DataTable({
            data : listObjOfservice,
            columns : [
                {data:'id',autoWidth:true},
                {data:'img',autoWidth:true,
                    'render':function(data)
                    {
                        return '<img src="'+data+'" alt="" width="60px">';
                    }
                },
                {data:'name',autoWidth:true},
                {data:'price',autoWidth:true},
                {data:'status',autoWidth:true,
                    'render':function(data)
                    {
                        if(data=="yes") return 'Active';
                        else return 'Inactive';
                    }
                },
                {data:'categoryName',autoWidth:true},
                {data:'id',autoWidth:true,
                    'render':function(data)
                    {
                        var edit = '<a edit = "'+data+'" class="btn btn-sm btnEdit" data-toggle="modal" data-target="#updateService"><i class="fas fa-edit"></i></a>';
                        var del = '<a del = "'+data+'" class="btn btn-sm btndelete" ><i class="fas fa-times"></i></a>';
                        return edit+' '+del;
                    }
                }
            ] 
        })
        //select data
        getSelectRow();
        function getSelectRow()
        {
            $.ajax({
                url:'@Url.Action("ShowAllService","AdminManage")',
                type:'get',
                dataType:'json',
                success:function(data)
                {
                    listObjOfservice = [];
                    listObjOfservice = data;
                    dataTable.clear();
                    dataTable.rows.add(listObjOfservice);
                    dataTable.draw();
                }
            })
        }
                      
        //select single row
        var edit;
        $(document).on('click','.btnEdit',function(){
            edit = $(this).attr('edit');
            $.ajax({
                url:'@Url.Action("ShowSingRow","AdminManage")',
                type:'post',
                dataType:'json',
                data:{getId : edit},
                success:function(data)
                {
                    $('#uname').val(data.name);
                    $('#uslug').val(data.slug);
                    $('#utageline').val(data.tageline);
                    $('#ucategory').val(data.category);
                    $('#uprice').val(data.price);
                    $('#udescription').val(data.description);
                    $('#uinclusion').val(data.inclusion);
                    $('#uexclusion').val(data.exclusion);
                    $('#uview-img').attr('src',data.img);
                    if(data.status=='yes') 
                        $('#switch').prop('checked',true);
                    else
                        $('#switch').prop('checked',false);
                    $('#udiscount').val(data.discount);
                    $('#udisType').val(data.dis_Type);
                }
            })
        })

        //update service
         var checkIn="";
        $('#form-update-service').on('submit',function(){
            if(imgs!=null) img = imgs.split(",");
            else 
            {
                imgs = $('#uview-img').attr('src');
                img = imgs.split(",");
            }
            if($('#switch').prop('checked')==true) checkIn='yes';
            else checkIn = 'no';
            var setObj = {
                'name':$('#uname').val(),            'slug':$('#uslug').val(),
                'tageline':$('#utageline').val(),    'category':$('#ucategory').val(),
                'price':$('#uprice').val(),          'description':$('#udescription').val(),
                'inclusion':$('#uinclusion').val(),  'exclusion':$('#uexclusion').val(),
                'imgType':img[0],                     'img':img[1],'status':checkIn,'id':edit,
                'discount':$('#udiscount').val(),      'dis_Type':$('#udisType').val()
            };
            $.ajax({
                url:'@Url.Action("updateService","AdminManage")',
                type:'post',
                dataType:'json',
                data:{getObj : setObj},
                success:function(data)
                {
                    if(data==1)
                    {
                        //saved
                        swal('Successed','Your data has been updated.','success');
                        getSelectRow();
                        imgs=null;
                    }
                    else
                    {
                        //error
                        swal('error','Something is wrong.','error');
                    }
                    
                }
            }) 

        })
        //delete
        $(document).on('click','.btndelete',function(){
            var del = {'id':$(this).attr('del')}
            swal({
                title:'Are you sure..?',
                text:'if you dicided to delete this data you will not recovery.',
                'icon':'warning',
                buttons:true,
                dangerMode:true,
            })
            .then((willdelete)=>{
                if(willdelete)
                {
                     $.ajax({
                        url:'@Url.Action("DeleteService","AdminManage")',
                        type:'post',
                        dataType:'json',
                        data:{did : del},
                        success:function(data)
                        {
                            swal('Delete','Delete successfully.','success');
                            getSelectRow();
                        }
                    })
                }
                else swal('your data is safe.');
            })
        })
    });
</script>