@{
    ViewData["Title"]="Admin Contact page";
}
<style>
    .fa-edit{
        font-size: 20px;
        color: blue;
    }
    .fa-times{
        font-size: 20px;
        color: red;
    }
</style>
        <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Contact Info</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.php.html">Home</a></li>
                            <li>/</li>
                            <li>Contact Info</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6"><h3>List Contact</h3></div>
                                    <div class="col-md-6" style="display: flex;justify-content: end;align-items: center;">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped" id="contact" >
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Message</th>
                                            <th>Create_at</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <script>
        $(document).ready(function(){
            var table,ListContact=[];
            table = $('#contact').DataTable({
                data:ListContact,
                columns:[
                    {data:'id',autoWidth:true},
                    {data:'name',autoWidth:true},
                    {data:'email',autoWidth:true},
                    {data:'phone',autoWidth:true},
                    {data:'message',autoWidth:true},
                    {data:'date',autoWidth:true}
                ]
            });

            //get data function
            getContact();
            function getContact()
            {
                $.ajax({
                    url:'@Url.Action("GetDataContact","Contact")',
                    type:'get',
                    dataType:'json',
                    success:function(data)
                    {
                        console.log(data);
                        ListContact=[];
                        ListContact=data;
                        table.clear();
                        table.rows.add(ListContact);
                        table.draw();
                    }
                });
            }
        });
    </script>