@{
    ViewData["Title"]="Service Provider page";
}
<style>
    .fa-edit{
        font-size: 20px;
        color: blue;
    }
    .fa-times{
        font-size: 20px;
        color: red;
    }
</style>
        <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Service Provider Info</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.php.html">Home</a></li>
                            <li>/</li>
                            <li>Service Provider Info</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6"><h3>List Service Provider</h3></div>
                                    <div class="col-md-6" style="display: flex;justify-content: end;align-items: center;">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped" id="ServiceProvider" >
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>City</th>
                                            <th>Service Category</th>
                                            <th>Service location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <img src="" width="80px" alt="">

    <script>
        $(document).ready(function(){
            var table,ListProvider=[];
            table = $('#ServiceProvider').DataTable({
                data:ListProvider,
                columns:[
                    {data:'id',autoWidth:true},
                    {data:'img',autoWidth:true,
                        'render':function(data){
                            return '<img src="'+data+'" width="80px" alt="">';
                        }
                    },
                    {data:'name',autoWidth:true},
                    {data:'email',autoWidth:true},
                    {data:'phone',autoWidth:true},
                    {data:'city',autoWidth:true},
                    {data:'cateName',autoWidth:true},
                    {data:'location',autoWidth:true}
                ]
            });

            //get data function
            getContact();
            function getContact()
            {
                $.ajax({
                    url:'@Url.Action("GetAllProvider","AdminManage")',
                    type:'get',
                    dataType:'json',
                    success:function(data)
                    {
                        console.log(data);
                        ListProvider=[];
                        ListProvider=data;
                        table.clear();
                        table.rows.add(ListProvider);
                        table.draw();
                    }
                });
            }
        });
    </script>