@{
    ViewData["Title"]="Admin Service page";
}
<style>
    .fa-edit{
        font-size: 20px;
        color: blue;
    }
    .fa-times{
        font-size: 20px;
        color: red;
    }
</style>
        <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Admin Service Categories</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.php.html">Home</a></li>
                            <li>/</li>
                            <li>Admin Service Categories</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-6">All Service Category</div>
                                    <div class="col-md-6" style="display: flex;justify-content: end;align-items: center;">
                                        <a asp-controller="AdminManage" asp-action="AddServiceCategory" class="btn btn-primary">Add Categories</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped" id="tbl_ServiceCategory" >
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Slug</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                                 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal fade" id="modal_edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Update Service Category
                        <a href="#" class="close" data-dismiss="modal">x</a>
                    </div>
                    <div class="modal-body">
                        <form id="form-update-serviceCategory" onsubmit="return false">
                            <div class="form-group">
                                <label for="" class="form-control-label">Name</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="" class="form-control-label">Slug</label>
                                <input type="text" class="form-control" id="slug">
                            </div>
                             <div class="form-group">
                                <label for="" class="form-control-label">Feather</label>
                                <select name="feather" id="feather" class="form-control">
                                    <option value="0">--select feather--</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-control-label">Image</label>
                                <input type="file" class="form-control" id="img-upload">
                                <img src="" alt="" id="view-img" width="70px" class="my-3">
                            </div>
                             <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </div>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>

<script>
    
    $(document).ready(function(){
        var table,listCate = [],img,imgs;
        table = $('#tbl_ServiceCategory').DataTable({
            data:listCate,
            columns:[
                {data:'id',autoWidth:true},
                {data:'img',autoWidth:true,
                    'render':function(data)
                    {
                        return '<img src="'+data+'" alt="" width="50px">';
                    }
                },
                {data:'name',autoWidth:true},
                {data:'slug',autoWidth:true},
                {data:'id',autoWidth:true,
                    'render':function(data)
                    {
                        return  '<a edit='+data+' class="btn btn-sm" id="btnEdit" data-toggle="modal" data-target="#modal_edit"><i class="fas fa-edit"></i></a><a del='+data+' class="btn btn-sm" id="btndelete"><i class="fas fa-times"></i></a>';
                    }
                }
            ]
        });
        //function select all row from database
        GetAllRow();
        function GetAllRow()
        {   
            $.ajax({
                url:'@Url.Action("GetServieFromDataBase","AdminManage")',
                type:'GET',
                dataType:'JSON',
                success:function(data)
                {
                    listCate=[];
                    listCate=data;
                    table.clear();
                    table.rows.add(listCate);
                    table.draw();
                }
            })
        }
        //select values to form
        var ServiceId;
        $(document).on('click','#btnEdit',function(){
            ServiceId = $(this).attr('edit');
            $.ajax({
                url:'@Url.Action("showRow","AdminManage")',
                type:'post',
                dataType:'json',
                data:{setValue : ServiceId},
                success:function(data)
                {
                    console.log(data);
                    $('#name').val(data[0].name);
                    $('#slug').val(data[0].slug);
                    $('#view-img').attr('src',data[0].img);
                    $('#feather').val(data[0].feather);
                }
            })
        });
        //function Read Image
        function ReadImage(input)
        {
            if(input.files && input.files[0])
            {
                var reader = new FileReader();
                reader.onload=function(e)
                {
                    img = e.target.result;
                    $('#view-img').attr('src',img);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#img-upload').change(function(){
            ReadImage(this);
        });
        //upadate
        
        $('#form-update-serviceCategory').on('submit',function(){
            if(img!=null) 
                imgs=img.split(",");
            else
            {
                img = $('#view-img').attr('src');
                imgs = img.split(",");
            }
            var obj={
                'id':ServiceId,
                'name':$('#name').val(),
                'slug':$('#slug').val(),
                'imgType':imgs[0],
                'img':imgs[1],
                'feather':$('#feather').val()
            };
            $.ajax({
                url:'@Url.Action("updateRow","AdminManage")',
                type:'post',
                dataType:'json',
                data:{setData : obj},
                success:function(data)
                {
                    if(data==1)
                    {
                        swal('success','your data has been updated successd','success');
                        GetAllRow();
                        img = null;
                    }
                    else swal('error','Sorry...!,Something is wrong..!','error');
                }
            })
            
        });
        //delete
        $(document).on('click','#btndelete',function(){
            ServiceId = $(this).attr('del');
            //alert(ServiceId);
            swal({
                title:'Are you sure...!',
                text:"If you decided deleted you can't recovery.",
                icon:'warning',
                buttons:true,
                dangerMode:true,
            })
            .then((willdelete)=>{
                if(willdelete)
                {
                    $.ajax({
                    url:'@Url.Action("DeletedRow","AdminManage")',
                    type:'POST',
                    dataType:'JSON',
                    data:{delId : ServiceId},
                    success:function(data)
                    {
                        if(data==1)
                        {
                            swal('success','Data has been saved successed','success');
                            GetAllRow();
                        }
                        else if(data<0) swal('Error','Sorry...!','your connection is invalid','error');
                        else swal('warning','Sorry...!','Something is wrong..!','warning');
                        
                    }})
                }
                else swal('Cencel','you was cenceled');
            
            })
           
        })

    });
</script>