@{
    ViewData["Title"] = "Register Page";
}
   <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Registeration</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.php.html">Home</a></li>
                            <li>/</li>
                            <li>Registeration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="semiboxshadow text-center"></div>
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3 profile1" style="padding-bottom:40px;">
                            <div class="thinborder-ontop">
                                <h3>User Info</h3>
                                <form id="userregisterationform" onsubmit="return false">                                    
                                    <div class="form-group row">
                                        <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                                        <div class="col-md-6">
                                            <input id="name" type="text" class="form-control" name="name" value="" required="" autofocus="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                        <div class="col-md-6">
                                            <input id="email" type="email" class="form-control" name="email" value="" required="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="phone" class="col-md-4 col-form-label text-md-right">Phone</label>
                                        <div class="col-md-6">
                                            <input id="phone" type="text" class="form-control" name="phone" value="" required="" autofocus="">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password"
                                            class="col-md-4 col-form-label text-md-right">Password</label>
                                        <div class="col-md-6">
                                            <input id="password" type="password" class="form-control" name="password" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password-confirm"
                                            class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                        <div class="col-md-6">
                                            <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="userType"
                                            class="col-md-4 col-form-label text-md-right">Register As</label>
                                        <div class="col-md-6">
                                            <select name="userType" id="userType" class="form-control">
                                                <option value="0" disabled selected>--Select User Type--</option>
                                                <option value="SVP">Service Provider</option>
                                                <option value="CUS">Customer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="col-md-10">
                                            <span style="font-size: 14px;">If you have already registered <a
                                                    href="login.html" title="Login">click here</a> to login</span>
                                            <button type="submit" class="btn btn-primary pull-right register">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="section-twitter">
                <i class="fa fa-twitter icon-big"></i>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>             
        </section>

<script>
    $(document).ready(function(){

        $('#userregisterationform').on('submit',function()
        {
            var obj = {
                'name':$('#name').val(),
                'email':$('#email').val(),
                'phone':$('#phone').val(),
                'password':$('#password').val(),
                'userType':$('#userType').val()
            };

            $.ajax({
                url:'@Url.Action("Register","User")',
                type:'POST',
                dataType:'JSON',
                data:{setObj : obj},
                success:function(data)
                {
                    if(data==1) 
                    {
                        swal("Register","You Has Been Register Successfully.","success");
                        setTimeout(function(){
                            window.location.replace('@Url.Action("Index","Home")');
                        },4000);
                    }
                    else swal("Warning","This Email is Exists,Please Check and try again. ","warning");
                }
            });
        });



    });
</script>