@{
    ViewData["Title"]="Service-By-Categories";
}

<div class="section-title-01 honmob">
            <div class="bg_parallax image_01_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>@ViewBag.Category Services</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>AC</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="container">
                <div class="row" style="margin-top: -30px;">
                    <div class="titles">
                        <h2>@ViewBag.Category <span>Services</span></h2>
                        <i class="fa fa-plane"></i>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <div class="content_info" style="margin-top: -70px;">
                <div>
                    <div class="container">
                        <div class="portfolioContainer">
                            @if(ViewBag.ListData.Count>0)
                            {
                            @foreach (var item in ViewBag.ListData)
                            {                          
                            <div class="col-xs-6 col-sm-4 col-md-3 nature hsgrids"
                                style="padding-right: 5px;padding-left: 5px;">
                                <a class="g-list" asp-route-name="@item.name" asp-controller="Service" asp-action="serviceDetail">
                                    <div class="img-hover">
                                        <img src="@item.img" alt=""
                                            class="img-responsive">
                                    </div>
                                    <div class="info-gallery">
                                        <h3>@item.name</h3>
                                        <hr class="separator">
                                        <p>@item.tageline</p>
                                        <div class="content-btn"><a asp-route-name="@item.name" asp-controller="Service" asp-action="serviceDetail"
                                                class="btn btn-primary">Book Now</a></div>
                                        <div class="price"><span>&#36;</span><b>From</b>@item.price</div>
                                    </div>
                                </a>
                            </div>
                            }
                            }
                            else
                            {
                                <div class="col-12" style="text-align: center;">
                                    <h4>There not found</h4>
                                </div>
                            }
                            
                            
                        </div>
                    </div>
                </div>
            </div>            
        </section>