@model List<HomeService.ServiceCategroy>
@{
    ViewData["Title"]="Service Categories";
}

        <div class="section-title-01 honmob">
            <div class="bg_parallax image_01_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>All Services</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>Service Categories</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="container">
                <div class="row" style="margin-top: -30px;">
                    <div class="titles">
                        <h2>All <span>Services</span></h2>
                        <i class="fa fa-plane"></i>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <div class="content_info" style="margin-top: -70px;">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="services-lines full-services">
                            @if(Model.Count>0)
                            {
                                @foreach (var item in Model)
                                {
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa"><a asp-route-id="@item.id" asp-controller="Service" asp-action="ServiecByCategories"><img class="icon-img"
                                                    src="@item.img" alt="@item.slug"></a></i>
                                        <h5>@item.name</h5>
                                    </div>
                                </li>
                                }
                            }
                            else
                            {
                            <li class="alert-warning">
                                <div class="item-service-line">
                                    <h3>Data not found</h3>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content_info content_resalt">
                <div class="container">
                    <div class="row">
                        <div class="titles">
                        </div>
                    </div>
                </div>
            </div>
        </section>

<script>
    $(document).ready(function(){

    })
</script>