 @{
     ViewData["Title"]="View-About-Us";
 }
 <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>About Us</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="semiboxshadow text-center">
                <img src="assets/img/img-theme/shp.png" class="img-responsive" alt="">
            </div>
            <div class="content_info">
                <div class="skin_base">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="services-lines-info padding-sides color-white">
                                <h2>TEAM MEMBERS</h2>
                                <p class="lead">
                                    Select ServeExpo.
                                    <span class="line"></span>
                                </p>
                                <p>Book cheap hotels and make payment facilities, free cancellation when the hotel so
                                    provides, compare prices and find all the options for your vacation.</p>
                                <br>
                                <a href="#" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div id="team-carousel-02">
                                    <div class="item-team-01">
                                        <img src="assets/img/team/1.jpg" alt="">
                                        <div class="info-team">
                                            <h4>Federick Gordon
                                                <span>Director Hotels</span>
                                            </h4>
                                            <p>We are a team of productive and efficient people in our trabajo.estamos
                                                to help with whatever you need.</p>
                                            <ul class="social-team">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-team-01">
                                        <img src="assets/img/team/2.jpg" alt="">
                                        <div class="info-team">
                                            <h4>Federick Gordon
                                                <span>Director Hotels</span>
                                            </h4>
                                            <p>We are a team of productive and efficient people in our trabajo.estamos
                                                to help with whatever you need.</p>
                                            <ul class="social-team">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-team-01">
                                        <img src="assets/img/team/3.jpg" alt="">
                                        <div class="info-team">
                                            <h4>Federick Gordon
                                                <span>Director Hotels</span>
                                            </h4>
                                            <p>We are a team of productive and efficient people in our trabajo.estamos
                                                to help with whatever you need.</p>
                                            <ul class="social-team">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item-team-01">
                                        <img src="assets/img/team/4.jpg" alt="">
                                        <div class="info-team">
                                            <h4>Federick Gordon
                                                <span>Director Hotels</span>
                                            </h4>
                                            <p>We are a team of productive and efficient people in our trabajo.estamos
                                                to help with whatever you need.</p>
                                            <ul class="social-team">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_info">
                <div class="paddings">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Some words about us</h3>
                                <p>You can choose your favorite destination and start planning your long-awaited
                                    vacation. We offer thousands of destinations and have a wide variety of hotels so
                                    that you can host and enjoy your stay without problems. Book now your trip
                                    ServeExpo.com.</p>
                                <h3>Why we are different</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-styles">
                                            <li><i class="fa fa-check"></i> <a href="#">World Travel</a></li>
                                            <li><i class="fa fa-check"></i> <a href="#">First Class Flights</a></li>
                                            <li><i class="fa fa-check"></i> <a href="#">5 Star Accommodations</a></li>
                                            <li><i class="fa fa-check"></i> <a href="#">Inclusive Packages</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-styles">
                                            <li><i class="fa fa-check"></i> <a href="#">Latest Model Vehicles</a></li>
                                            <li><i class="fa fa-check"></i> <a href="#">Best Price Guarantee</a></li>
                                            <li><i class="fa fa-check"></i> <a href="#">Great Experience</a></li>
                                            <li><i class="fa fa-check"></i> <a href="#">Great Travel Theme</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="single-carousel">
                                    <div class="img-hover">
                                        <div class="overlay"> <a href="img/gallery-2/1.jpg" class="fancybox"><i
                                                    class="fa fa-plus-circle"></i></a></div>
                                        <img src="assets/img/gallery-2/1.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="img-hover">
                                        <div class="overlay"> <a href="img/gallery-2/2.jpg" class="fancybox"><i
                                                    class="fa fa-plus-circle"></i></a></div>
                                        <img src="assets/img/gallery-2/2.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="img-hover">
                                        <div class="overlay"> <a href="img/gallery-2/3.jpg" class="fancybox"><i
                                                    class="fa fa-plus-circle"></i></a></div>
                                        <img src="assets/img/gallery-2/3.jpg" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_info overflow-hidde">
                <video class="bg_video" preload="auto" autoplay="autoplay" loop="" muted="" poster="img/slide/4.jpg"
                    data-setup="{}">
                    <source src="img/video/video.mp4" type="video/mp4">
                    <source src="img/video/video.webm" type="video/webm">
                </video>
                <div class="opacy_bg_02 padding-bottom">
                    <div class="container wow fadeInUp">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="titles">
                                            <h2><span>¿</span>Why <span>Book</span> in SurfsideMedia<span>?</span></h2>
                                            <i class="fa fa-plane"></i>
                                            <hr class="tall">
                                        </div>
                                    </div>
                                </div>
                                <p>Find a wide variety of airline tickets and cheap flights, hotels, tour packages, car
                                    rentals, cruises and more in ServeExpo.com.You can choose your favorite destination
                                    and start planning your long-awaited vacation. You can also check availability of
                                    flights and hotels quickly and easily, in order to find the option that best suits
                                    your needs.Book cheap hotels and make payment facilities, free cancellation when the
                                    hotel so provides, compare prices and find all the options for your vacation.</p>
                                <div class="row text-center padding-top-mini">
                                    <a href="#" class="btn btn-primary">View Details</a>
                                    <a href="#" class="btn btn-primary">Purchase Theme</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-twitter">
                <i class="fa fa-twitter icon-big"></i>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>