@{
    ViewData["Title"]="View-Faq";
}
<div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>FAQ Questions</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>FAQ Questions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="semiboxshadow text-center">
                <img src="img/img-theme/shp.png" class="img-responsive" alt="">
            </div>
            <div class="content_info">
                <div class="container">
                    <div class="row" style="margin-top: -30px;">
                        <div class="titles">
                            <h2>FAQ <span>Questions</span></h2>
                            <i class="fa fa-plane"></i>
                            <hr class="tall">
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top: -70px;">
                    <div class="row padding-bottom">
                        <div class="col-md-12">
                            <div class="accrodation">
                                <span class="acc-trigger"><a href="#">Mision</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                                            tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                            ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
                                            et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
                                            commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
                                            condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                                            Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
                                            neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
                                            eros eu erat. Aliquam erat volutpat.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger active"><a href="#">Vision</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                                            tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                            ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
                                            et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
                                            commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
                                            condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                                            Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
                                            neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
                                            eros eu erat. Aliquam erat volutpat.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger"><a href="#">What we offer?</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                                            tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                            ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
                                            et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
                                            commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
                                            condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                                            Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
                                            neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
                                            eros eu erat. Aliquam erat volutpat.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger"><a href="#">Our services</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor
                                        sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                                        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien
                                        ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae,
                                        ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros
                                        ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis
                                        pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor
                                        neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.
                                    </div>
                                </div>
                                <span class="acc-trigger"><a href="#">Features</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                                            tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                            ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
                                            et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
                                            commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
                                            condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                                            Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
                                            neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
                                            eros eu erat. Aliquam erat volutpat.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger"><a href="#">Product Sales</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
                                            tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                            ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est
                                            et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
                                            commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
                                            condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
                                            Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus,
                                            neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna
                                            eros eu erat. Aliquam erat volutpat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_info">
                <div class="skin_base paddings-mini color-white text-center">
                    <h2>Need Help? Call our Expert 24 X 7 - +91-1234567890</h2>
                </div>
            </div>            
        </section>