﻿@{
    ViewData["Title"] = "Home Page";
}

        <section class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    @if(ViewBag.Slider.Count>0)
                    {
                        foreach (var item in ViewBag.Slider)
                        {
                        <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000"
                            data-saveperformance="off" data-title="Slide">
                            <img src="@item.img" alt="@item.title" data-bgposition="center center"
                                data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130"
                                data-bgfitend="100" data-bgpositionend="right center">
                        </li>
                        }
                    }
                    else
                    {
                    <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000"
                        data-saveperformance="off" data-title="Slide">
                        <img src="~/assets/img/slide/1.jpg" alt="fullslide1" data-bgposition="center center"
                            data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130"
                            data-bgfitend="100" data-bgpositionend="right center">
                    </li>
                    <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000"
                        data-saveperformance="off" data-title="Slide">
                        <img src="~/assets/img/slide/2.jpg" alt="fullslide1" data-bgposition="top center"
                            data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130"
                            data-bgfitend="100" data-bgpositionend="right center">
                    </li>
                    }
                    
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
            <div class="filter-title">
                <div class="title-header">
                    <h2 style="color:#fff;">BOOK A SERVICE</h2>
                    <p class="lead">Book a service at very affordable price, </p>
                </div>
                <div class="filter-header">
                    
                    @using (Html.BeginForm("serviceDetail","Service",FormMethod.Post))
                    {
                        <input type="text" id="search" name="name" required="required" placeholder="What Services do you want?"
                            class="input-large typeahead" autocomplete="off">
                        <input type="submit" id="submit" value="Searchs">
                    }
                </div>
            </div>
        </section>
        <section class="content-central">
            <div class="content_info content_resalt">
                <div class="container" style="margin-top: 40px;">
                    <div class="row">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul id="sponsors" class="tooltip-hover">
                                @foreach (var item in ViewBag.Categories)
                                {
                                    <li data-toggle="tooltip" title="@item.name" data-original-title="AC"> <a
                                        asp-route-id="@item.id" asp-controller="Service" asp-action="ServiecByCategories"><img src="@item.img"
                                            alt="@item.name"></a></li>
                                }
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="semiboxshadow text-center">
                <img src="assets/img/img-theme/shp.png" class="img-responsive" alt="">
            </div>
            <div class="content_info">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="titles">
                                <h2>SurfsideMedia <span>Choice</span> of Services</h2>
                                <i class="fa fa-plane"></i>
                                <hr class="tall">
                            </div>
                        </div>
                        <div class="portfolioContainer" style="margin-top: -50px;">
                            @if(ViewBag.HomeService.Count>0)
                            {
                            @foreach (var item in ViewBag.HomeService)
                            {
                            <div class="col-xs-6 col-sm-4 col-md-3 hsgrids"
                                style="padding-right: 5px;padding-left: 5px;">
                                <a class="g-list" asp-route-name="@item.name" asp-controller="Service" asp-action="serviceDetail">
                                    <div class="img-hover">
                                        <img src="@item.img" alt="@item.name Servicing"
                                            class="img-responsive">
                                    </div>
                                    <div class="info-gallery">
                                        <h3>@item.name Servicing</h3>
                                        <hr class="separator">
                                        <p>@item.name Servicing</p>
                                        <div class="content-btn"><a asp-route-name="@item.name" asp-controller="Service" asp-action="serviceDetail"
                                                class="btn btn-primary">Book Now</a></div>
                                        <div class="price"><span>&#36;</span><b>From</b>@item.price</div>
                                    </div>
                                </a>
                            </div> 
                            }}
                            else
                            {
                            <div class="col-12 hsgrids">
                                <div class="alert alert-danger text-center">
                                    Data not found here
                                </div>
                            </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_info">
                <div class="bg-dark color-white border-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="services-lines-info">
                                    <h2>WELCOME TO DIVERSIFIED</h2>
                                    <p class="lead">
                                        Book best services at one place.
                                        <span class="line"></span>
                                    </p>

                                    <p>Find a wide variety of home services.</p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <ul class="services-lines">
                                    @foreach (var item in ViewBag.CategoriesbyFeather)
                                    {
                                    <li>
                                        <a asp-route-id="@item.id" asp-controller="Service" asp-action="ServiecByCategories">
                                            <div class="item-service-line">
                                                <i class="fa"><img class="icon-img"
                                                        src="@item.img"></i>
                                                <h5>@item.name</h5>
                                            </div>
                                        </a>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="titles">
                            <h2><span>Appliance</span>Services</h2>
                            <i class="fa fa-plane"></i>
                            <hr class="tall">
                        </div>
                    </div>
                </div>
                <div id="boxes-carousel">
                    @foreach (var item in ViewBag.service8Home)
                    {
                    <div>
                        <a class="g-list" asp-route-name="@item.name" asp-controller="Service" asp-action="serviceDetail">
                            <div class="img-hover">
                                <img src="@item.img" alt="" class="img-responsive">
                            </div>

                            <div class="info-gallery">
                                <h3>@item.name</h3>
                                <hr class="separator">
                                <p>@item.name</p>
                                <div class="content-btn"><a asp-route-name="@item.name" asp-controller="Service" asp-action="serviceDetail"
                                        class="btn btn-primary">Book Now</a></div>
                                <div class="price"><span>&#36;</span><b>From</b>@item.price</div>
                            </div>
                        </a>
                    </div>
                    }
                </div>
            </div>
        </section>

        <script>
            $(document).ready(function(){
                $('#search').autocomplete({
                    source: function(request,response)
                    {
                        $.ajax({
                            url:'@Url.Action("AutoComplete","Home")',
                            type:'post',
                            dataType:'json',
                            data:{search : $('#search').val()},
                            success:function(data)
                            {
                                //console.log(data);
                                response($.map(data,function(item){
                                    return {label:item.name,value:item.name};
                                }))
                            },
                            error:function(xhr, status,error)
                            {
                                alert('error');
                            }
                        })
                    }
                })
            });
        </script>
        
