﻿@{
    ViewData["Title"] = "Privacy Policy";
}
   <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Privacy Policy</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="semiboxshadow text-center">
                <img src="img/img-theme/shp.png" class="img-responsive" alt="">
            </div>
            <div class="content_info">
                <div class="container">
                    <div class="row" style="margin-top: -30px;">
                        <div class="titles">
                            <h2>Privacy <span>Policy</span></h2>
                            <i class="fa fa-plane"></i>
                            <hr class="tall">
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top: -70px;">
                    <div class="row padding-bottom">
                        <div class="col-md-12">
                            <div class="accrodation">
                                <span class="acc-trigger"><a href="#">Personal Information</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>User hereinafter referred to as ("You"). hereinafter referred to as
                                            ("SurfsideMedia"). SurfsideMedia is owner and operator of
                                            www.dshnavimumbai.com ("the Website"), collectively, including all content
                                            provided by SurfsideMedia through the SurfsideMedia, the Website
                                            "SurfsideMedia Service"</p>
                                        <p>You have right not to supply personally identifiable information. If You
                                            intend to view this SurfsideMedia Service and/or or share your data with the
                                            SurfsideMedia Service, it is solely at your own volition, risk and after
                                            reading and confirming it to this Privacy Policy.</p>
                                        <p>At the time of using the SurfsideMedia Service you will share certain
                                            Personal Information with SurfsideMedia, SurfsideMedia respects your
                                            Personal Information. Such Personal Information may include your personal
                                            identifiable information such as your name, address, mobile number, your
                                            e-mail ids, your age, IP address, payment details and any other personal
                                            information which You may share in connection with the services.</p>
                                        <p>When you use SurfsideMedia’s Service through SurfsideMedia App, SurfsideMedia
                                            may use Your mobile device’s ID (the unique identification assigned to a
                                            mobile device by the manufacturer). SurfsideMedia does this to store your
                                            preferences and track your use of SurfsideMedia App. You understand and
                                            agree that SurfsideMedia has every right to share such ID with third parties
                                            for its promotions, analysis, etc.</p>
                                        <p>In case You participate in any other schemes, facilities, services provided
                                            by the SurfsideMedia Service, You will be required to provide additional
                                            information. Such information will also remain in SurfsideMedia’s database
                                            and will be considered as your Personal Information and will be treated as
                                            confidential.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger active"><a href="#">Protection of Information and
                                        Storage</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>SurfsideMedia needs to caution You that the SurfsideMedia Service could be
                                            vulnerable to hacking, virus attacks and your personal data may be at risk.
                                            SurfsideMedia takes all the necessary and reasonable caution to protect the
                                            SurfsideMedia Service and data.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger"><a href="#">Cookies</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>SurfsideMedia may place a text file called a "cookie" in the browser files of
                                            your Mobile. The cookie itself does not contain Personal Information
                                            although it will enable the SurfsideMedia Service to relate your use of the
                                            SurfsideMedia Service to information that you have specifically and
                                            knowingly provided to SurfsideMedia.</p>
                                        <p>The Cookies enables SurfsideMedia to remember your choices and some data
                                            field contents which you would be required to fill-in.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_info">
                <div class="skin_base paddings-mini color-white text-center">
                    <h2>Need Help? Call our Expert 24 X 7 - +91-1234567890</h2>
                </div>
            </div>            
        </section>
