 @{
     ViewData["Title"]="Terms-Of-User";
 }
 <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Terms of Use</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>/</li>
                            <li>Terms of Use</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="semiboxshadow text-center">
                <img src="img/img-theme/shp.png" class="img-responsive" alt="">
            </div>
            <div class="content_info">
                <div class="container">
                    <div class="row" style="margin-top: -30px;">
                        <div class="titles">
                            <h2>Terms of <span>Use</span></h2>
                            <i class="fa fa-plane"></i>
                            <hr class="tall">
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top: -70px;">
                    <div class="row padding-bottom">
                        <div class="col-md-12">
                            <div class="accrodation">
                                <span class="acc-trigger"><a href="#">Terms of Use</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>Welcome to SurfsideMedia. You may use our services through our website
                                            http://surfsidemedia.in ("Website"). Our Website has been created to provide
                                            information about our company and services to the visitors and user of
                                            services, whether accessible to you via web, mobile or other platform (our
                                            services, together with the Site, are the "Services")</p>
                                        <p>For the purpose of these Terms of Use, the term 'SurfsideMedia' or 'Us' or
                                            'We' refers to Dhsnavimumbai. The term 'You' refers to the user or viewer of
                                            our Website.</p>
                                        <p>When You use any of the Services provided by Us, including but not limited
                                            to, Electrical, Plumbing, Computer Repair, Laundry, Carpentry etc, you will
                                            be subject to the rules, guidelines, policies, terms, and conditions
                                            applicable to such service, and they shall be deemed to be incorporated into
                                            this Terms of Use and shall be considered as part and parcel of these Terms
                                            of Use. As long as you comply with these Terms of Use, We grant you a
                                            personal, non-exclusive, non-transferable, limited privilege to enter and
                                            use our platforms. In the event of a conflict or inconsistency between any
                                            provision of the terms and conditions mentioned herein with those of the
                                            particular service, the provisions of the terms and conditions applicable to
                                            such specific Services shall prevail.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger active"><a href="#">Acceptance of Terms</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>These Terms of Use set forth legally binding terms for your use of our
                                            Platforms. By using, visit, accessing our platforms, you agree to be bound
                                            by this Terms of Use, whether you are a "Visitor" (which means that you
                                            simply browse our Platforms) or you are a "Subscriber" (which means that you
                                            have registered with SurfsideMedia as a user). If you do not accept the
                                            Terms of Use, you should leave the Website and/or HJ App and discontinue use
                                            of the Service immediately.</p>
                                        <p>We may modify these Terms from time to time, and such modification shall be
                                            effective upon its posting on our platforms. You agree to be bound by any
                                            modification to this Agreement when you use our Website after any such
                                            modification is posted; it is therefore important that you review the Terms
                                            of Use regularly.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger"><a href="#">Termination or Suspension</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>You agree that SurfsideMedia may at any time terminate your access to the
                                            Website or restrict or suspend your access to all or any part of the Website
                                            or the App at any time, for any or no reason, with or without prior notice,
                                            and without liability.</p>
                                        <p>SurfsideMedia shall be entitled at any time without giving any reason to
                                            terminate the booking of services done by You.</p>
                                    </div>
                                </div>
                                <span class="acc-trigger"><a href="#">Miscellaneous</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>These Terms of Use and any rights and licenses granted hereunder, may not be
                                            transferred or assigned by you, but may be assigned by SurfsideMedia without
                                            restriction.</p>
                                        <p>These Terms of Use together with any other legal notices published by
                                            SurfsideMedia on its Platforms, shall constitute the entire agreement
                                            between you and SurfsideMedia concerning its Website and governs your use of
                                            our Website and Service, superseding any prior agreements between you and
                                            SurfsideMedia with respect to our Website and Service.</p>
                                        <p>The failure of SurfsideMedia to exercise or enforce any right or provision of
                                            these Terms of Use shall not constitute a waiver of such right or provision.
                                            If any provision of these Terms of Use is found by a court of competent
                                            jurisdiction to be invalid, the parties nevertheless agree that the court
                                            should endeavour to give effect to the parties’ intentions as reflected in
                                            the provision, and the other provisions of these Terms of Use remain in full
                                            force and effect</p>
                                        <p>These Terms of Use shall be governed by the laws of India, without respect to
                                            its conflict of laws principles. Any claim or dispute between you and
                                            SurfsideMedia that arises in whole or in part from our Website shall be
                                            decided exclusively by a court of competent jurisdiction located in Navi
                                            Mumbai. </p>
                                    </div>
                                </div>
                                <span class="acc-trigger"><a href="#">With whom your Personal Information is
                                        shared?</a></span>
                                <div class="acc-container">
                                    <div class="content ptext">
                                        <p>When you order services through us, we must provide certain of your Personal
                                            Information to the third party or vendors to enable the successful
                                            fulfilment of your service.</p>
                                        <p>However, we do not sell or rent individual customer names or other Personal
                                            Information to third parties except sharing of such information with our
                                            alliance partners or vendors such as AppVirality, Leanplum who are engaged
                                            by us for providing various promotional and other benefits to our customers
                                            from time to time basis their booking history with us.</p>
                                        <p>We use non - personally identifiable information in aggregate form to build
                                            higher quality, more useful online services by performing statistical
                                            analysis of the collective characteristics and behaviour of our customers
                                            and visitors, and by measuring demographics and interests regarding specific
                                            areas of the website, mobile site and mobile app. We may provide anonymous
                                            statistical information based on this data to suppliers, advertisers,
                                            affiliates and other current and potential Business partners. We may also
                                            use such aggregate data to inform these third parties as to the number of
                                            people who have seen and clicked on links to their websites.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_info">
                <div class="skin_base paddings-mini color-white text-center">
                    <h2>Need Help? Call our Expert 24 X 7 - +91-1234567890</h2>
                </div>
            </div>            
        </section>